<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-push-8">
        <%= image_tag "TRVE-logo-wh-sq-1200.jpg", class: "img-fluid", style: "margin-bottom:20px;" %>
      </div>

      <div class="col-xs-12 col-sm-8 col-sm-push-4">
        <h1 id='login-page-header'>Welcome to simple and smarter inventory tracking</h1>

        <div class="container" id="login-form">
          <p id='login-form-text'>Are you a TRVE Brewing Company team member?</p>

          <a href="https://slack.com/oauth/authorize?scope=identity.basic,identity.email,identity.team&client_id=<%= ENV['SLACK_CLIENT_ID'] %>"><img name="Sign in with Slack" alt="Sign in with Slack" height="40" width="172" src="https://platform.slack-edge.com/img/sign_in_with_slack.png" srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x" /></a>
        </div>
      </div>
    </div>
  </div>
</div>
