<div class='amountForm'>
  <%= label_tag 'Amount' %>
  <%= select_tag 'amount[]', options_for_select(Amount.all.collect{ |a| [a.measurement, a.id]}, [measurement]) %>
  <%= label_tag 'Qty' %>
  <%= number_field_tag 'quantity[]', quantity || '0', min: 0 %>
  <a href='#' onclick='removeAmount(event, $(this))' class='remove-amount'> x </a> <br/>
</div>
