<div class="container">
  <h1>Edit Item in Inventory</h1>

  <%= form_for @inventory_item do |f| %>
    <div class='fields'>
      <%= f.label :packaging_run, 'Packaging Run ID' %>
      <%= f.number_field :packaging_run, name: 'Packaging Run ID', class: 'form-group', min: 0, value: @inventory_item.packaging_run.number %> <br/>

      <%= f.label :product_id, 'Product' %>
      <%= f.collection_select(:product_id, Product.all, :id, :name, {value: @inventory_item.product.name}) %> <br/>

      <%= f.label :date_packaged, 'Date Packaged' %>
      <%= f.date_field :date_packaged %> <br/>

      <div id='amounts'>
        <% @inventory_item.inventory_item_amounts.each do |iia| %>
          <%= render partial: 'amount', locals: {measurement: iia.amount.id, quantity: iia.quantity} %>
        <% end %>
      </div>
      <a href='javascript:;' onclick='addAmount(event)' class='remove-amount'>Add Another Measurement</a><br/>
    </div>

    <div class='actions'>
      <%= f.submit 'Submit Changes' %>
    </div>
  <% end %>
</div>

<div style='display: none;' id='new_amount_form'>
  <%= render partial: 'amount', locals: {measurement: nil, quantity: nil} %>
</div>
