<div class="container">
  <h1 class="title">Current Inventory</h1>

  <% @inventory_items.each do |item| %>
    <div class="ui container" id="inventory-item">
      <% if item.packaging_run.on_hold %>
        <div class="ui_box on_hold">
      <% else %>
        <div class="ui_box">
      <% end %>
        <div class="ui_box__inner">
          <div class="stat_right">
            <% @amounts.each do |amount| %>
              <div class="amount-box">
                <span><%= amount.last %></span>
                <p><%= item.quantity_for(amount.first) %></p>
              </div>
            <% end %>
          </div>

          <div class="ui_box_buttons">
            <% unless item.packaging_run.on_hold %>
              <%= link_to 'New Removal', new_removal_path(prid: item.packaging_run.number), class: 'btn btn-primary active', role: 'button' %><br/>
            <% end %>
            <%= link_to 'Edit', edit_inventory_item_path(item.id), class: 'btn btn-warning active', role: 'button' %><br/>

            <% if can? :destroy, item %>
              <%= link_to 'Delete', inventory_item_path(item.id), method: :delete, data: {confirm: 'Permanently delete this record?'}, class: 'btn btn-danger active', role: 'button' %><br/>
            <% end %>
          </div>

          <ul>
            <li>On Hold:</li>
            <p><%= item.packaging_run.on_hold ? 'True' : 'False' %></p>
            <li>PRID:</li>
            <p><%= item.packaging_run.number %></p>
            <li>Brand:</li>
            <p><%= item.product.name %></p>
            <li>Date Packaged:</li>
            <p><%= item.date_packaged %></p>
          </ul>
        </div>
        <div class="drop">
          <p>View timeline</p>
          <div class="arrow"></div>
        </div>
      </div>
    </div>
  <% end %>
</div>
