<div class="container">
  <h1>Add New Item to Inventory</h1>

  <%= form_for @inventory_item do |f| %>
    <div class='fields'>
      <%= f.label :packaging_run, 'Packaging Run ID' %>
      <%= f.number_field :packaging_run, name: 'Packaging Run ID', class: 'form-group', min: 0%> <br/>

      <%= f.label :product_id, 'Product' %>
      <%= f.collection_select(:product_id, Product.all, :id, :name) %> <br/>

      <%= f.label :date_packaged, 'Date Packaged' %>
      <%= f.date_field :date_packaged %> <br/>

      <div id='amounts'>
        <%= render partial: 'amount', locals: {measurement: nil, quantity: nil} %>
      </div>
      <a href='javascript:;' onclick='addAmount(event)' class='remove-amount'>Add Another Measurement</a><br/>
    </div>

    <div class='actions'>
      <%= f.submit 'Add Inventory' %>
    </div>
  <% end %>
</div>

<div style='display: none;' id='new_amount_form'>
  <%= render partial: 'amount', locals: {measurement: nil, quantity: nil} %>
</div>
