<div class="container">
  <h1>Edit Profile Information</h1>

  <%= form_for @user do |f| %>
    <%= f.label :name, 'Name:' %> <br/>
    <%= f.text_field :name %> <br/><br/>

    <%= f.label :email, 'Email Address:' %> <br/>
    <%= f.text_field :email %> <br/><br/>

    <%= f.submit 'Update Information' %>
  <% end %>
</div>
