<div class="container">
  <h1 class="title">User Profile</h1>

  <div class="user_profile container">
    <div class="user_profile_element">
      <div class="user_profile_element__inside">
        <%= link_to 'Edit', edit_user_path(@user.id), class: 'btn btn-primary active', role: 'button' %>
        <center><h3><%= @user.name %></h3></center>
        <div class="stat_right">
          <h5>Recent Transactions</h5>
          <ul>
            <li>This Thing That I Did</li>
            <li>This Thing That I Did</li>
            <li>This Thing That I Did</li>
            <li>This Thing That I Did</li>
          </ul>
        </div>

        <ul>
          <li>Email Address:</li>
          <p><%= @user.email %></p>
          <li>User Since:</li>
          <p><%= @user.created_at.strftime("%b. %d %Y") %></p>
          <li>Roles:</li>
          <% @user.roles.each do |role| %>
            <p class='user-role'><%= role.name.capitalize %></p>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
