@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);

$background:#EDF2F4;
$primary:#2B2D42;
$secondary:#BA2C73;
$light-blue:#888bb1;

body {
  background:$background;
  .title {
    width:600px;
    margin:10px auto;
    text-align:center;

    h1 {
      margin:30px 0px 0px 0px;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight:400;
      color: #3d3d3d;
    }

    h2 {
      margin:10px 0px 0px 0px;
      font-size:18px;
      color: #8B8B8B;
      font-weight:400;
      font-family: 'Source Sans Pro', sans-serif;
    }
  }
}

.bg-inverse {
    background-color: $primary !important;
}

#signed-in-text {
  color: $secondary;
}

// #login-page-header {
//   margin-right: 0px;
// }
//
// #login-form-text {
//   margin-right: 20px;
// }

.center {
    margin: auto;
    width: 80%;
    padding: 10px;
}

.rounded {
  border-radius: 25px;
  border: 3px solid black;
}
