.ui {
    width:900px;
    margin:0 auto;
    margin-top:50px;
    font-family: 'Source Sans Pro', sans-serif;
    color:white;
    box-shadow:none;

    ul {
      margin:0px 30px 10px 0px;
      padding:0;
      list-style-type:none;
      font-size:13px;
      font-weight:400;
      line-height:20px;
    }

    .drop {
      z-index:-3;
      opacity:0;
      width: 900px;
      height: 60px;
      background: darken($secondary,10%);
      position: absolute;
      color:white;
      bottom: 0;
      padding:12px 30px 21px 30px;
      transition-property:bottom,opacity;
      transition-duration:.3s;

      p {
        color:lighten($secondary,50%);
      }
    }

    &_box {
      width:900px;
      height:290px;
      margin-bottom: 20px;
      position:relative;
      background:$primary;
      float:left;
      box-shadow:-1px 0px rgba(255, 255, 255, 0.07);
      cursor:pointer;
      transform:scale(1);
      transition-property:transform,background;
      transition-duration:.3s;

      &_buttons {
        position: absolute;
        padding-left: 47em;

        .btn {
          width: 8em;
          height: 2.5em;
          margin-bottom: 0.2em;
          font-size: smaller;
        }
      }

      &__inner {
        padding:30px;

        span {
          font-size:36px;
          font-weight:700;
        }

        .amount-box {
          width: 40%;
          height: 100px;
          float: left;
          margin: 0 3% 20px 0;
          border: 1px solid #999;
          padding: 10px;
          box-sizing: border-box;
        }
      }

    // Following styles are still inside &_box

      h2 {
        font-weight:normal;
        font-size:27px;
        margin:-4px 0px 3px 0px;
      }

      p {
        font-size:20px;
        color:rgb(182, 182, 182);clear: left;
        font-weight:300;
        width:160px;
        margin:2px 0px 15px 0px;
      }

      &:hover {
        background:$secondary;
        transform:scale(1.1);
        transition-property:transform,background;
        transition-duration:.3s;
        position:relative;
        z-index:1
      }
    }
    // End of &_box
}
// End of body style

.ui_box:hover > .ui_box__inner p {
  color:lighten($secondary,30%);
}

.ui_box:hover > .drop {
  transition-property:bottom,opacity;
  transition-duration:.3s;
  bottom:-30px;
  opacity:1;
}

.ui_box:hover > .drop .arrow {
  transition-property:transform;
  transition-duration:1s;
  transform:rotate(765deg);
}

.stat_left { float:left; }

.stat_right { float:right; }

.arrow {
  width: 4px;
  height: 4px;
  transition-property:transform;
  transition-duration:1s;
  transform:rotate(45deg);
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border-top: 1px solid #CDEAD3;
  border-right: 1px solid #CDEAD3;
  float: right;
  position: relative;
  top: -24px;
  right: 0px;
}

.on_hold {
  background: lighten($primary,40%) !important;
}

.on_hold:hover > .ui_box__inner p{
  color:$primary;
}

.on_hold:hover > .drop {
  background:$primary;
}
