.user_profile {
    width:900px;
    margin:0 auto;
    margin-top:50px;
    font-family: 'Source Sans Pro', sans-serif;
    color:white;
    box-shadow:none;

    ul {
      margin:0px 30px 10px 0px;
      padding:0;
      list-style-type:none;
      font-size:13px;
      font-weight:400;
      line-height:20px;
    }

    &_element {
      width:900px;
      height:320px;
      margin-bottom: 30px;
      position:relative;
      background:$primary;
      float:left;
      box-shadow:-1px 0px rgba(255, 255, 255, 0.07);
      transform:scale(1);
      transition-property:transform,background;
      transition-duration:.3s;

      &__inside {
        padding:30px;

        span {
          font-size:36px;
          font-weight:700;
        }
      }

    // Following styles are still inside &_box

      h2 {
        font-weight:normal;
        font-size:27px;
        margin:-4px 0px 3px 0px;
      }

      p {
        font-size:20px;
        color:rgb(182, 182, 182);clear: left;
        font-weight:300;
        width:160px;
        margin:2px 0px 15px 0px;

        .user-role {
          margin: 2px 0px 2px 0px !important;
        }
      }
    }
    // End of &_box
}
// End of body style
