<div class="container">
  <div class="removals new">
    <h1>Add New Removal to Inventory</h1>

    <%= form_tag '/removals' %>
      <%= label_tag 'packaging_run', 'Packaging Run ID' %>
      <% if @prids.is_a? Array %>
        <%= select_tag 'packaging_run', options_for_select(@prids), id: 'prid-removal' %> <br/>
      <% else %>
        <%= hidden_field_tag 'packaging_run', @prids, id: 'prid-removal' %>
        <strong><%= @prids %></strong><br/>
      <% end %>

      <%= label_tag 'reason' %>
      <%= select_tag 'reason', options_for_select(@reasons), id: 'reason-removal' %> <br/>

      <div id='reason-description' style='display: none;'>
        <%= text_area_tag 'description', nil, placeholder: 'Reason For Loss', size: '45x5' %>
      </div>

      <div id='amounts-removal'></div>

      <%= submit_tag 'Add Removal' %>
  </div>
</div>
