<div class="container">
  <center>
    <h1 class='title'>Confirm New Removal</h1>
    <h4>Prackaging Run ID <%= @inventory_item.packaging_run.number %></h4>
    <p>Removing product <%= @inventory_item.product.name %></p>
    <table class='table table-sm table-striped'>
      <tr>
        <th>Measurement</th>
        <th>Quantity to be Removed</th>
        <th>Remaining Quantity</th>
      </tr>
      <% @inventory_item.available_amounts_and_removals(@removal.id).each do |iia| %>
        <tr>
          <td><%= iia.measurement %></td>
          <td><%= iia.removal %></td>
          <td><%= iia.quantity %></td>
        </tr>
      <% end %>
    </table>
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <%= link_to 'Confirm', root_path(success: 'removal'), data: {confirm: 'You will not be able to edit or undo this removal after confirming. Continue?'}, class: 'btn btn-primary active', role: 'button' %>
      </div>
      <div class="col">
        <%= link_to 'Undo', removal_undo_path(@removal.id), method: :post, data: {confirm: 'Undo changes and permanently delete this removal?'}, class: 'btn btn-warning active', role: 'button' %>
      </div>
      <div class="col"></div>
    </div>
  </center>
</div>
