<div class='container'>
  <h1 class='title'>Current Products</h1>

  <table class='table table-bordered table-inverse'>
    <thead>
      <tr>
        <th>Name</th>
        <th>SKU</th>
        <th>Description</th>
        <th>Date Added</th>
        <% if can? :create, Product %>
        <th>Actions</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td> <%= product.name %> </td>
          <td> <%= product.sku %> </td>
          <td> <%= product.description %> </td>
          <td> <%= format_product_date(product) %> </td>
          <% if can? :create, Product %>
          <td>Action Buttons/links</td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
