<div class="container">
  <h1 class='title'>Add New Product</h1>

  <%= form_for @product do |f| %>
    <div class='fields'>
      <%= f.label :name, 'Name' %>
      <%= f.text_field :name %><br/>

      <%= f.label :sku, 'SKU' %>
      <%= f.number_field :sku %><br/>

      <%= f.label :description, 'Description' %>
      <%= f.text_area :description %>
    </div>

    <div class='actions'>
      <%= f.submit 'Add Product' %>
    </div>
  <% end %>
</div>
